@import "variables";
@import "mixins";

.excel__formula {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height;
  height: $formula-height;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color;

  .info {
    font-size: 18px;
    text-align: center;
    font-style: italic;
    border-right: 1px solid $border-color;
    min-width: $info-cell-width;
  }

  .input {
    padding: 4px;
    font-size: 12px;
    outline: none;
    width: 100%;
    height: 100%;
    color: #000;
  }

}
