@import "variables";
@import "mixins";

.excel__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  padding: 8px 4px 0;
  display: flex;
  justify-content: space-between;


  //temp
  //background: aqua;

  & .input {
    margin: 0;
    padding: 2px 7px;
    color: black;
    border: 1px solid transparent;
    border-right: 2px;
    outline: none;
    height: 20px;
    line-height: 22px;
    font-size: 18px;

    &:hover {
      border: 1px solid $border-color;
    }

    &:focus {
      border: 2px solid #1a73e8;
    }
  }

  & .button {
    @include button(red);
  }

}
