@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $toolbar-height + $formula-height + $header-height;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
  }

  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: #f8f9fa;
    border-top: none;
  }

  .row-data {
    display: flex;
  }

  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: $info-cell-width;
    width: $cell-width;
    border: 1px solid $border-color;
    height: 100%;
    border-top: none;
    border-left: none;
  }

  .cell {
    min-width: $info-cell-width;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: 0;
    border-left: 0;
    color: #111;
    white-space: nowrap;
    outline: none;
    &.selected {
     border: none;
      outline: 2px solid #3c74ff;
      z-index: 2;
    }
  }






}
::-webkit-scrollbar-thumb {
  width: 5px;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
